[Desktop Entry]
Name=st
GenericName=Terminal
Comment=Suckless terminal emulator for X
Exec=tabbed -c -r 2 launch_st -w '' -t 'Simple Terminal'
Terminal=false
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
